USE [master]
GO
/****** Object:  Database [NYPdb]    Script Date: 26.05.2025 19:22:51 ******/
CREATE DATABASE [NYPdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NYPdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NYPdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NYPdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NYPdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NYPdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NYPdb]
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 26.05.2025 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DersID] [nvarchar](20) NOT NULL,
	[DersAdi] [nvarchar](100) NULL,
	[BolumKodu] [varchar](10) NULL,
	[Sinif] [int] NULL,
	[DersSirasi] [int] NULL,
	[Donem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notlar]    Script Date: 26.05.2025 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notlar](
	[OgrenciID] [nvarchar](20) NOT NULL,
	[DersID] [nvarchar](20) NOT NULL,
	[Vize] [int] NULL,
	[Final] [int] NULL,
	[HarfNotu] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC,
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 26.05.2025 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[OgrenciID] [nvarchar](20) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[OgretimGrID] [int] NULL,
	[OgrenciDonem] [int] NULL,
	[YNO] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciDersleri]    Script Date: 26.05.2025 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDersleri](
	[OgrenciID] [nvarchar](20) NOT NULL,
	[DersID] [nvarchar](20) NOT NULL,
	[Donem] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC,
	[DersID] ASC,
	[Donem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgretimGorevlisi]    Script Date: 26.05.2025 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretimGorevlisi](
	[OgretimGrId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[KullaniciAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OgretimGrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgretimGorevlisiDersleri]    Script Date: 26.05.2025 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretimGorevlisiDersleri](
	[OgretimGrID] [int] NOT NULL,
	[DersID] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OgretimGrID] ASC,
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sifreler]    Script Date: 26.05.2025 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sifreler](
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sifreler] ADD  DEFAULT ('ogrenci') FOR [Rol]
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD FOREIGN KEY([OgretimGrID])
REFERENCES [dbo].[OgretimGorevlisi] ([OgretimGrId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OgrenciDersleri]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OgrenciDersleri]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OgretimGorevlisiDersleri]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OgretimGorevlisiDersleri]  WITH CHECK ADD FOREIGN KEY([OgretimGrID])
REFERENCES [dbo].[OgretimGorevlisi] ([OgretimGrId])
ON DELETE CASCADE
GO
USE [master]
GO
